/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/
a {
    text-decoration: none;
}

li,
a {
    list-style: none;
    color: white;
}

.c-w {
    color: white;
}

.c-b {
    color: black;
}

.style-a-w {

    border-radius: 50%;
    background-color: white;
    padding: 10px 20px;
}

.style-a-b {

    border-radius: 50%;
    background-color: black;
    padding: 10px 20px;
}

.style-a-blue {

    border-radius: 50%;
    background-color:blue;
    padding: 10px 20px;
}



.bottom-border {
    border-bottom: solid white 4px;
}

.bg-gray {
    background-color: lightgray;
}

.bg-black {
    background-color: black;
}


/*classi*/

/*header*/

.navigation-bar {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.navigation-bar-section {

    display: flex;
    flex-basis: 900px;
    align-items: center;
}

.logo {
    width: 200px;
}

.link {
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
}

.login {
    display: flex;
    justify-content: flex-end;
    width: 200px;
}

/*Main*/

.bg-image {
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

/* main section 1*/

.section-box-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.content-section-box-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titolo-hero {
    padding-bottom: 30px;
}

.paragrafo-hero{
    padding-bottom: 30px;
}

/* main sections similar*/

.section-similar {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.content-section-similar {
    margin: 0 auto;
    display: flex;
    flex-basis: 80%;
    align-items: center;
    justify-content: space-between;

}

.paragrafo1 {
    height: 50%;
    width: 58%;

}

.paragrafo2 {
    height: 100%;
    width: 38%;
}

.bg-gray .content-section-similar {
    flex-direction: row-reverse;
}

/* last section main*/

.section-box-big-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 800px;
}

.content-section-box-big-img {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-stars{
    background-image: url(../img/stars.svg);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    padding-bottom: 20px;
}

/* Footer*/


/* footer section 1*/

.section-footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
}

.content-section-footer-1 {
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 90%;
    padding-top: 50px;
}

.colonna-1 {
    height: 100%;
    width: 30%;
}

.selezione-lingua{
    display: flex;
    height: 20px;
    padding-top: 8px;
}

.social{
    display: flex;
    height: 30px;
    width: 40%;
    padding-top: 20px;
    justify-content: space-around;
    margin:0 30px 0 0;
}

.colonne {
    height: 100%;
    width: calc((100% - 30%) / 4);

}

.section-footer-2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 50px;

}

.content-section-footer-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}